.welcome {
    text-align: center;
    margin-bottom: 40px;
}

.link-button {
    margin: auto;
    background-color: var(--secondary);
    border-radius: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    width: 200px;
    margin-bottom: 30px;
}

.half-page {
    width: 50%;
    float: left;
}

.character-selection {
    background-color: var(--primary);
    border-radius: 10px 0px 0px 10px;
    padding: 10px 10px 10px 10px;
}