:root {
    --text: #111d11;
    --background: #ebf4eb;
    --primary: #82d485;
    --secondary: #65be67;
    --accent: #589d59;
    --error: #9d5858;
}

body {
    margin: 0;
}

.header {
    overflow: hidden;
    background: var(--primary);
    color: var(--text);
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.title {
    float: left;
    margin-left: 50px;
}

.login {
    background: var(--accent);
    color: var(--background);
    margin-right: 50px;
    float: right;
    font-size: 24px;
    padding: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
}
  
body {
    font-family: 'Raleway';
    font-size: 22px;
    color: var(--text);
    background: var(--background);
}

a:link {
    text-decoration: none;
    color: var(--text);
}
  
a:visited {
    text-decoration: none;
    color: var(--text);
}

a:hover {
    color: var(--text);
}

a:active {
    text-decoration: none;
    color: var(--text);
}

a {
    position: relative;
    text-decoration: none;
}
  
  /* Fade in */
a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1.5px;
    bottom: -5px;
    left: 0;
    background-color: var(--accent);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}
  
a:hover::before {
    transform: scaleX(1);
}