.centre {
  width: 50%;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.trophies {
  width: 24%;
  float: left;
  box-sizing: border-box;
  padding-left: 30px;
  padding-right: 10px;
  border-radius: 0 10px 10px 0;
  background-color: rgba(130, 212, 133, 0.25);
}

.milestones {
  width: 24%;
  float: right;
}

.milestone-block {
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 30px;
  padding-bottom: 1px;
  padding-top: 1px;
  margin-bottom: 10px;
  border-radius: 10px 0 0 10px;
  background-color: rgba(130, 212, 133, 0.25);
}

.welcome {
  text-align: center;
  margin-bottom: 40px;
}

.total {
  width: 150px;
  margin: auto;
  margin-bottom: 40px;
}

.circle {
  height: 100%;
  width: 100%;
  line-height: 150px;
  color: var(--background);
  background-color: var(--accent);
  border-radius: 50%;
  text-align: center;
}

.splits {
  display: flex;
  display: center;
  width: 750px;
  margin: auto;
  margin-bottom: 40px;
}

.split {
  width: 20%;
  margin: auto;
  text-align: center;
}

.milestone-progress {
  width: 750px;
  margin: auto;
  margin-bottom: 40px;
  color: var(--text)
}

.progress-bar-filled {
  height: 10px;
  background: var(--accent)
}

.progress-bar {
  height: 10px;
  background: var(--primary)
}

.progress-bar-img {
  float: right;
}

.milestone-markers {
  display: flex;
  font-size: small;
}

.previous-milestone-marker {
  background: var(--accent);
  width: 2px;
  height: 8px;
}

.next-milestone-marker {
  background: var(--primary);
  width: 2px;
  height: 8px;
  margin-left: auto;
}

.milestone-labels {
  display: flex;
  font-size: small;
}

.previous-milestone {
  text-align: left;
}

.next-milestone {
  text-align: right;
  margin-left: auto;
}

.trophy-title {
  padding-left: 60px;
}

.trophy-icon {
  width: 50px;
  height: 50px;
  vertical-align: middle;
  padding-right: 10px;
}

.trophies-link {
  padding-left: 60px;
}

.milestone-icon {
  width: 100px;
  height: 100px;
}

.milestones-link {
  padding-top: 10px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: var(--accent);
  color: var(--background);
  font-size: 16px;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
  margin-top: 8px;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}

.tooltip .tooltip-text::after {
  content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  left: 50%;
  margin-left: -15px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent var(--accent) transparent;
}

