{% load static %}
<!DOCTYPE html>
<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
<link rel="stylesheet" href="{% static 'tracker/common.css' %}">
<link rel="stylesheet" href="{% static 'tracker/home.css' %}">
<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
<html lang="en-UK">
<head>
    <meta charset="utf-8" />
    <title>Race Around the World</title>
</head>
<body>
<div class="header">
    <p><a href="{% url 'home' %}">Race Around the World</a></p>
</div>


<div class="container podium">
    <div class="podium__item">
      <p class="podium__city"><a href="{% url 'user' %}?name={{second.id}}">{{second.firstName}}</a></p>
      <div class="podium__rank second">{{second_distance}}km</div>
    </div>
    <div class="podium__item">
      <p class="podium__city"><a href="{% url 'user' %}?name={{first.id}}">{{first.firstName}}</a></p>
      <div class="podium__rank first">{{first_distance}}km</div>
    </div>
    <div class="podium__item">
      <p class="podium__city"><a href="{% url 'user' %}?name={{third.id}}">{{third.firstName}}</a></p>
      <div class="podium__rank third">{{third_distance}}km</div>
    </div>
</div>

<div class="cumulative-distance">
  <p>Cumulative Distance: {{cumulative_distance}}km</p>
</div>

<div class="trophy-button">
  <p><a href="{% url 'trophies' %}">See Trophies ></a></p>
</div>

</body>
</html>