{% extends "tracker/base.html" %}
{% load static %}
      
{% block content %}

<link rel="stylesheet" href="{% static 'tracker/home.css' %}">
<div class="container podium">
    <div class="podium__item">
      {% if second_id != 0 %}
      <p class="podium__city"><a href="{% url 'user' %}?name={{second_id}}">{{second}}</a></p>
      <div class="podium__rank second">{{second_distance}}km</div>
      {% else %}
      <p class="podium__city">{{second}}</p>
      <div class="podium__rank second"> </div>
      {% endif %}
    </div>
    <div class="podium__item">
      {% if first_id != 0 %}
      <p class="podium__city"><a href="{% url 'user' %}?name={{first_id}}">{{first}}</a></p>
      <div class="podium__rank first">{{first_distance}}km</div>
      {% else %}
      <p class="podium__city">{{first}}</p>
      <div class="podium__rank first"> </div>
      {% endif %}
    </div>
    <div class="podium__item">
      {% if third_id != 0 %}
      <p class="podium__city"><a href="{% url 'user' %}?name={{third_id}}">{{third}}</a></p>
      <div class="podium__rank third">{{third_distance}}km</div>
      {% else %}
      <p class="podium__city">{{third}}</p>
      <div class="podium__rank third"> </div>
      {% endif %}
    </div>
</div>

<div class="cumulative-distance">
  <p>Cumulative Distance: {{cumulative_distance}}km</p>
</div>

<div class="trophy-button">
  <p><a href="{% url 'trophies' %}">See Trophies ></a></p>
</div>

<div class="trophy-button">
  <p><a href="{% url 'leaderboard' %}">See Leaderboard ></a></p>
</div>


{% endblock %}