{% extends "tracker/base.html" %}
{% load static %}
      
{% block content %}
        
<link rel="stylesheet" href="{% static 'tracker/milestones.css' %}">
<div class="back">
    <p><a href="{%url 'user' %}?name={{arg_name}}">&lt; Back to user</a></p>
</div>

<div class="content">
    <table class="table">
        <tr style="padding-bottom: 10px; border-bottom:3px solid black">
            <th></th><th style="text-align: left; padding-left: 50px;">Milestone</th><th>Distance ({{unit}})</th><th>Date Achieved</th>
        </tr>
        {% for row in milestones %}
        <tr>
            {% if row.milestone.imageFile and row.dateAchieved %}
            {% with 'tracker/img/'|add:row.milestone.imageFile as image_static %}
            <td><img class="icon" src="{% static image_static %}"></td>
            {% endwith %}
            {% else %}
            {% with 'tracker/img/locked.png' as image_static %}
            <td><img class="icon" src="{% static image_static %}"></td>
            {% endwith %}
            {% endif %}
            <td>{{row.milestone.name}}</td>
            <td>{{row.milestone.distance}}</td>
            {% if row.dateAchieved %}
            <td>{{row.dateAchieved}}</td>
            {% else %}
            <td></td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
</div>


{% endblock %}