{% extends "tracker/base.html" %}
{% load static %}
      
{% block content %}
        
<link rel="stylesheet" href="{% static 'tracker/user.css' %}">
<div class="welcome">
    <p>Welcome {{name}}!</p>
</div>
<div class="everything">
    <div class="trophies">
    <p class="trophy-title">Trophies:</p>
    {% for trophy in trophies %}
        {% with 'tracker/img/trophy.png' as image_static %}
            <p><img class="trophy-icon" src="{% static image_static %}">{{trophy.name}}</p>
        {% endwith %}
    {% endfor %}
    <div class="trophies-link">
        <p><a href="{% url 'trophies' %}">All Trophies ></a></p>
    </div>
    </div>
    <div class="centre">
        <div class="total">
            <div class="circle">{{total_distance}}km</div>
            <p>Total Distance</p>
        </div>
        <div class="splits">
            <div class="split">
                <div class="circle">{{run_distance}}km</div>
                <p>Run</p>
            </div>
            <div class="split">
                <div class="circle">{{cycle_distance}}km</div>
                <p>Cycle</p>
            </div>
            <div class="split">
                <div class="circle">{{hike_distance}}km</div>
                <p>Hike</p>
            </div>
        </div>
        <div class="total">
            <div class="circle">{{altitude}}m</div>
            <p>Total Elevation</p>
        </div>
        <div class="milestone-progress">
            <div class="progress-bar">
                <!-- <img class="progress-bar-img" src="/static/tracker/img/vw_camper_big.png"/> -->
                <div class="progress-bar-filled" style="width:{{progress}}%">
                </div>
            </div>
            <div class="milestone-markers">
                <div class="previous-milestone-marker"></div>
                <div class="next-milestone-marker"></div>
            </div>
            <div class="milestone-labels">
                <div class="previous-milestone">
                    <p>{{last_milestone.distance}}km - {{last_milestone.name}}</p>
                </div>
                <div class="next-milestone">
                    <p>{{next_milestone.name}} - {{next_milestone.distance}}km</p>
                </div>
            </div>
        </div>
    </div>
    <div class="milestones">
        <div class="milestone-block">
            <div>
                <p>Distance Milestones:</p>
                {% for m in completed_milestones %}
                {% with 'tracker/img/'|add:m.milestone.imageFile as image_static %}
                <div class="tooltip">
                    <img class="milestone-icon" src="{% static image_static %}">
                    <span class="tooltip-text">{{m.milestone.name}} - {{m.milestone.distance}}km</span>
                </div>
                {% endwith %}
                {% endfor %}
            </div>
            <div class="milestones-link">
                <p><a href="{% url 'milestones' %}?name={{arg_name}}">All Distance Milestones ></a></p>
            </div>
        </div>
        <div class="milestone-block">
            <div>
                <p>Altitude Milestones:</p>
                {% for m in completed_altitude_milestones %}
                {% with 'tracker/img/'|add:m.milestone.imageFile as image_static %}
                <div class="tooltip">
                    <img class="milestone-icon" src="{% static image_static %}">
                    <span class="tooltip-text">{{m.milestone.name}} - {{m.milestone.distance}}km</span>
                </div>
                {% endwith %}
                {% endfor %}
            </div>
            <div class="milestones-link">
                <p><a href="{% url 'altitude_milestones' %}?name={{arg_name}}">All Altitude Milestones ></a></p>
            </div>
        </div>
    </div>
</div>

{% endblock %}