{% load static %}
<!DOCTYPE html>
<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
<link rel="stylesheet" href="{% static 'tracker/common.css' %}">
<link rel="stylesheet" href="{% static 'tracker/home.css' %}">
<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
<html lang="en-UK">
<head>
    <meta charset="utf-8" />
    <title>Race Around the World</title>
</head>
<body>
<div class="header">
    <p><a href="{% url 'home' %}">Race Around the World</a></p>
</div>


<div class="container podium">
    <div class="podium__item">
      <p class="podium__city"><a href="{% url 'user' %}?name={{second}}">{{second}}</a></p>
      <div class="podium__rank second">2</div>
    </div>
    <div class="podium__item">
      <p class="podium__city"><a href="{% url 'user' %}?name={{first}}">{{first}}</a></p>
      <div class="podium__rank first">1</div>
    </div>
    <div class="podium__item">
      <p class="podium__city"><a href="{% url 'user' %}?name={{third}}">{{third}}</a></p>
      <div class="podium__rank third">3</div>
    </div>
</div>


</body>
</html>