{% load static %}
<!DOCTYPE html>
<link rel="stylesheet" href="{% static 'tracker/home.css' %}">
<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
<html lang="en-UK">
<head>
    <meta charset="utf-8" />
    <title>Race Around the World</title>
</head>
<body>
<p><h1>Race Around the World</h1> </p>


<div class="container podium">
    <div class="podium__item">
      <p class="podium__city">{{second}}</p>
      <div class="podium__rank second">2</div>
    </div>
    <div class="podium__item">
      <p class="podium__city"><a href="{% url 'user' %}">{{first}}</a></p>
      <div class="podium__rank first">1</div>
  </div>
    <div class="podium__item">
      <p class="podium__city">{{third}}</p>
      <div class="podium__rank third">3</div>
    </div>
  </>


</body>
</html>