{% load static %}
<!DOCTYPE html>
<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
<link rel="stylesheet" href="{% static 'tracker/common.css' %}">
<link rel="stylesheet" href="{% static 'tracker/milestones.css' %}">
<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
<html lang="en-UK">
<head>
    <meta charset="utf-8" />
    <title>Race Around the World</title>
</head>
<body>
<div class="header">
    <p><a href="{% url 'home' %}">Race Around the World</a></p>
</div>

<div class="back">
    <p><a href="{%url 'user' %}?name={{arg_name}}">&lt; Back to user</a></p>
</div>

<div class="content">
    <table class="table">
        <th></th><th>Milestone</th><th>Distance</th><th>Date Achieved</th>
        {% for row in milestones %}
        <tr>
            {% if row.link and row.date_achieved %}
            {% with 'tracker/img/'|add:row.link as image_static %}
            <td><img class="icon" src="{% static image_static %}"></td>
            {% endwith %}
            {% else %}
            <td></td>
            {% endif %}
            <td>{{row.name}}</td>
            <td>{{row.distance}}</td>
            <td>{{row.date_achieved}}</td>
        </tr>
        {% endfor %}
    </table>
</div>


</body>
</html>