{% load static %}
<!DOCTYPE html>
<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
<link rel="stylesheet" href="{% static 'tracker/common.css' %}">
<link rel="stylesheet" href="{% static 'tracker/milestones.css' %}">
<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
<html lang="en-UK">
<head>
    <meta charset="utf-8" />
    <title>Race Around the World</title>
</head>
<body>
<div class="header">
    <p><a href="{% url 'home' %}">Race Around the World</a></p>
</div>


<div class="content">
    <table class="table">
        <tr style="padding-bottom: 10px; border-bottom:3px solid black">
            <th></th><th style="text-align: left; padding-left: 50px;">Trophy</th><th>Holder</th><th>Value</th>
        </tr>
        {% for row in trophies %}
        <tr>
            {% with 'tracker/img/trophy.png' as image_static %}
            <td><img class="icon" src="{% static image_static %}"></td>
            {% endwith %}

            <td>{{row.name}}</td>
            <td>{{row.holders}}</td>
            <td>{{row.value}}</td>
        </tr>
        {% endfor %}
    </table>
</div>


</body>
</html>