.centre {
  width: 50%;
  float: left;
}

.trophies {
  width: 25%;
  float: left;
  box-sizing: border-box;
  padding-left: 40px;
  padding-right: 20px;
}

.milestones {
  width: 25%;
  float: right;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 40px;
}

.welcome {
  text-align: center;
  margin-bottom: 40px;
}

.total {
  width: 150px;
  margin: auto;
  margin-bottom: 40px;
}

.circle {
  height: 100%;
  width: 100%;
  line-height: 150px;
  color: var(--background);
  background-color: var(--accent);
  border-radius: 50%;
  text-align: center;
}

.splits {
  display: flex;
  display: center;
  width: 750px;
  margin: auto;
  margin-bottom: 40px;
}

.split {
  width: 20%;
  margin: auto;
  text-align: center;
}

.milestone-progress {
  width: 750px;
  margin: auto;
  margin-bottom: 40px;
  color: var(--text)
}

.progress-bar-filled {
  height: 10px;
  background: var(--accent)
}

.progress-bar {
  height: 10px;
  background: var(--secondary)
}

.milestone-markers {
  display: flex;
  font-size: small;
}

.previous-milestone-marker {
  background: var(--accent);
  width: 2px;
  height: 8px;
}

.next-milestone-marker {
  background: var(--secondary);
  width: 2px;
  height: 8px;
  margin-left: auto;
}

.milestone-labels {
  display: flex;
  font-size: small;
}

.previous-milestone {
  text-align: left;
}

.next-milestone {
  text-align: right;
  margin-left: auto;
}

.trophy-title {
  padding-left: 60px;
}

.trophy-icon {
  width: 50px;
  height: 50px;
  vertical-align: middle;
  padding-right: 10px;
}

.milestone-icon {
  width: 100px;
  height: 100px;
}

.milestones-link {
  padding-top: 20px;
}